{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block body %} 
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>About Our Developers</strong>
            </p>
        </div>
    </div>  
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nishant Shekar</h5>
              <p class="card-text">Associate Director, Product Management.</p>
              <p class="card-text">333 India - PM LS RME.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Amit Ranade</h5>
              <p class="card-text">Director, Product Development.</p>
              <p class="card-text">305 India - Engineering LS RC.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Mahesh Bejugame</h5>
              <p class="card-text">Principal Member Technical Staff.</p>
              <p class="card-text">305 India - Engineering LS RC.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Rohan Kumar Dube</h5>
                <p class="card-text">Member Technical Staff.</p>
                <p class="card-text">305 India - Engineering LS RC.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Parimal Kushwaha</h5>
                <p class="card-text">Associate Member Technical Staff.</p>
                <p class="card-text">305 India - Engineering LS RC.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Srija Pinnamshetty</h5>
                <p class="card-text">Associate Member Technical Staff.</p>
                <p class="card-text">305 India - Engineering LS RC.</p>
              </div>
            </div>
          </div>
      </div>
</div>

{% endblock body %}

