{% extends 'base.html' %}
{% block title %}Calculation{% endblock title %}

{% block body %}   
  
<div class="container">
    <br>
    <p>
      <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        STEP 1
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        Step-1  Identify evidence bucket based on the differential.
      </div>
    </div>
    <br>
    <form method="GET" action="{% url 'submitquery'%}">
        {% csrf_token %}
      <div class="mb-3">
        <label for="Text" class="form-label">Formula</label>
        <input type="text" name="expression" class="form-control" id="Text" aria-describedby="emailHelp" placeholder="Enter the Expression">
        <div id="emailHelp" class="form-text">Formula to calculate the result</div>
      </div>
      <div class="mb-3">
        <label for="Price" class="form-label">Price Tolerance</label>
        <input type="text" name="price" class="form-control" id="Price"  placeholder="Enter Price Tolerance Percentage">
      </div>
      <button type="submit" class="btn btn-primary" name="submit">Calculate</button>
      <button type="reset" class="btn btn-danger" name="reset">Clear</button>
    </form>

    <br>
    <br>
    <div class="card">
      <div class="card-header">
        <b>Analysis</b>
      </div>
      <div class="card-body">
        <h6 class="card-text">{{output_result1}}</h6>
        <h6 class="card-text">{{output_result2}}</h6>
      </div>
    </div>
    <br>
    <br>
    <h3><b>NETWORK LEVELS</b></h3>
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <h6 class="card-text"><div id="item-list"></div></h6>
      </div>
    </div>
    <br>
    <br>
    <div class="border-top my-3"></div>
    <br>
    <p>
      <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        STEP 2
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        Step-2  Inference using Bayesian network.
      </div>
    </div>
    <br>
    <form method="GET" action="{% url 'PlotDiagram'%}">
      <div class="mb-3">
        <button type="submit" class="btn btn-primary" name="Plot">Plot Bayesian Network</button>
      </div>
    </form>
    <h3><b>BAYESIAN RESULT </b></h3>
    <br>
    <div class="card">
      <div class="card-header">
      <b>WAC Probability</b>
      </div>
      <div class="card-body">
        <h5 class="card-title">Probability for WAC with respect to direct sales : </h5>
        <h6 class="card-text">{{WAC}}</h6>
      </div>
    </div>
    <br>
    <br>
    <div class="card">
      <div class="card-header">
      <b>Contract Boundary Probability</b>
      </div>
      <div class="card-body">
        <h5 class="card-title">Probability for Contract Boundary Reached with respect to direct sales : </h5>
        <h6 class="card-text">{{Contract}}</h6>
      </div>
    </div>
    <br>
    <br>
    <div class="card">
      <div class="card-header">
      <b>Price Program Probability</b>
      </div>
      <div class="card-body">
        <h5 class="card-title">Probability for Price Program Boundary Reached with respect to direct sales : </h5>
        <h6 class="card-text">{{PriceProgram}}</h6>
      </div>
    </div>
    <br>
    <br>
    <div class="border-top my-3"></div>
    <br>
    <p>
      <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        STEP 3
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        Step-3  Insights
      </div>
    </div>
    <br>
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h5 class="card-title"><u>PREDICTION</u></h5>
        <p class="card-text"><h5>There is <b>{{maxProbability}}%</b> chance that direct sale variance is caused by  <b>{{maxProbabilityList}}</b></h5></p>
        <a href="#" class="btn btn-success">Go To Top</a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="alert alert-success" role="alert">
      <h4 class='text-center'><u>{{maxProbabilityList}} Table</u></h4>
      <hr>
    <br>           
    <br>           
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Contract ID</th>
          <th>Program ID</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
      {% if d %}  
      {% for i in d %}
        <tr>
          <td>{{i.Contract_ID}}</td>
          <td>{{i.Program_ID}}</td>
          <td>{{i.Start_Date}}</td>
          <td>{{i.End_Date}}</td>
        </tr>
      {% endfor %}
      {% endif %}
      </tbody>
    </table>
  </div>
  </div>
  <script type="text/javascript"> 
    var nHTML = "";
    var a = "{{value}}";
    var array =a.split("|");
    var array = array.splice(0,array.length-1);
    array.forEach(function(item) {
      nHTML +='<li><b>' + item + '</b></li>';
    });
      document.getElementById("item-list").innerHTML = '<ul>' + nHTML + '</ul>'
 </script>
{% endblock body %}
