{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block body %}       
<div class="container">
    <form method="GET" action="{% url 'submitquery'%}">
        {% csrf_token %}
      <div class="mb-3">
        <label for="Text" class="form-label">Formula</label>
        <input type="text" name="expression" class="form-control" id="Text" aria-describedby="emailHelp" placeholder="Enter the Expression">
        <div id="emailHelp" class="form-text">Formula to calculate the result</div>
      </div>
      <div class="mb-3">
        <label for="Price" class="form-label">Price Tolerance</label>
        <input type="text" name="price" class="form-control" id="Price"  placeholder="Enter Price Tolerance Percentage">
      </div>
      <button type="submit" class="btn btn-primary" name="submit">Calculate</button>
      <button type="reset" class="btn btn-danger" name="reset">Clear</button>
      <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
    </form>
  </div>
  {% endblock body %}
